<div>
    <h2 class="display-1">Why choose Cigna?</h2>
<div class="h4">Cigna's quality plan options, personalized health care support, and low costs provide you with
    access to the expertise and care you need, when you need it.</div>
<div class="row p-5">
    <div class="col-3 card shadow p-5 m-2">
        <h3 slot="heading">Affordability</h3>
    <div slot="content">With <strong>$0 virtual care (telehealth),</strong><sup>2</sup> <strong>$0 preventive care
            visits,</strong><sup>3</sup> <strong>$3 or less for generic prescription drugs,</strong><sup>4</sup>
        <strong>and access to Cigna's Patient Assurance Program</strong>, Cigna's plans and programs make it easy
        for you to get affordable, quality care.
    </div>
    </div>
    <div class="col-3 card shadow p-5 m-2">
        <h3 slot="heading">24/7 Virtual Care</h3>
    <div slot="content">Members have access to MDLIVE's primary care physician, virtual dermatology, and virtual
        behavioral health networks for routine visits 24/7, as well as $0 virtual urgent-acute care and $0 virtual
        wellness screenings.<sup>2</sup></div>
    </div>
    <div class="col-3 card shadow p-5 m-2">
    
        <h3 slot="heading">Guided Customer Care</h3>
        <div slot="content">Get help from <strong>personalized health coaches</strong> to manage specific conditions
            like diabetes. <strong>My Personal Champion<sup>®</sup></strong> can assist you with navigating the health
            care system during a critical situation. Or, speak to specialty pharmacists at our <strong>Therapeutic
                Resource Centers</strong>.</div>
        </div>
    
</div>
<div class="row p-5">

    <div class="col-3 card shadow p-5 m-2">
        <h3 slot="heading">Personalized Digital Tools</h3>
    <div slot="content">The <strong>myCigna<sup>®</sup> website and mobile app</strong><sup>5</sup> help you find
        quality in-network providers, order and refill prescriptions, pay claims, and more. You also get data-driven
        customized alerts for health coaching, specialized care, and cost savings.</div>
    </div>
    
    
    
    
    <div class="col-3 card shadow p-5 m-2">
        <h2 slot="heading">Rewards and Discounts</h2>
    <div slot="content">Customers over 18 can earn up to $325 in points that can be redeemed for a debit card or
        merchandise through our <strong>Cigna Take Control Rewards<sup>®</sup></strong> program.<sup>6</sup> Enjoy
        additional benefits with <strong>Cigna’s Healthy Rewards<sup>®</sup></strong> discount program.</div>
    </div>
    
    
    
    <div class="col-3 card shadow p-5 m-2">
        <h2 slot="heading">24/7/365 Customer Service</h2>
    <div slot="content">Have a question about your plan? Need help finding an in-network doctor? With Cigna, you can
        call any time for help with using your plan or navigating your benefits. Plus, if you have a health
        question, you can speak to a licensed clinician 24 hours a day.</div>
    </div>
</div>
</div>










