<div class="col-12 col-md-12 col-lg-8 col-xl-6 mt-5 px-5">
    <p class="display-1">Affordable Health Insurance Plans</p>
    <p class="h5 d-xl-block d-none">Shopping for your own coverage? Open Enrollment is here and runs until Jan. 15. Cigna's plans come with $0 preventive care, $0 virtual care (telehealth), personalized digital tools, and 24/7/365 service and support. Let’s find a plan that works for you.
        See if plans are available in your state. See availability</p>
    <p class="display-3">Save now with Holiday Discount</p>
    <div class="row ">
        <p class="display-2 text-success">{{offerLeft}} to go!!!</p>
    </div>
</div>
<div class="col-12 col-md-12 col-lg-8 col-xl-6 mt-2 h4">
    <img src="../assets/family.jpg" class="img-fluid rounded shadow" style="max-width:100%;height:auto"  alt="">
</div>