<div class="row p-5 justify-content-between" style="background-color: #0b99e6;">
    <p class="display-3 text-light">Zero in on affordable health insurance with Slesha</p>
    <div class="card col-3 mt-5 mb-2 mx-2 shadow">
        <div class="card-body">
            <form class="form" [formGroup]="signupForm" (ngSubmit)="signup()">
                <div class="form-group mt-5">
                    <label for="email">Email</label>
                    <input formControlName="emailId" type="text" class="form-control">
                </div>
                <div class="form-group mt-5">
                    <label for="name">Name</label>
                    <input formControlName="userName" type="text" class="form-control">
                </div>
                <div class="form-group mt-5">
                    <label for="name">ZIP</label>
                    <input formControlName="zip" type="text" class="form-control">
                </div>
                <div class="form-group mt-5">
                    <label for="name">DOB</label>
                    <input formControlName="dob" type="date" class="form-control">
                </div>
                <div class="form-group mt-5">
                    <label for="name">Phone</label>
                    <input formControlName="phone" type="number" class="form-control">
                </div>
                <div class="form-group mt-5">
                    <label for="name">Password</label>
                    <input formControlName="password" type="password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success mt-5 form-control mt-5" [disabled]="signupForm.invalid">Signup</button>
            </form>
        </div>
    </div>
    <div class="col-6">
        <img src="../assets/signup.jpg" class="img-fluid rounded-circle shadow" style="max-width:60%;height:auto"  alt="">
    </div>
</div>
<app-saving></app-saving>
<div class="row p-5">
   <app-why></app-why> 
</div>
