<div class="row p-5" style="background-image: url('../../assets/login.jpeg');">
    <div class="col-4">
        <div class="card p-5">
            <div class="card-title h4 mx-3">Customer Login Portal</div>
            <div class="card-body">
                <form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="form-group">
                        <label for="">Email</label>
                        <input formControlName="emailId" class="form-control shadow" type="text">
                    </div>
                    <div class="form-group mt-3">
                        <label for="">Password</label>
                        <input formControlName="password" class="form-control shadow" type="password">
                    </div>
                    <button type="submit" class="form-control btn btn-primary rounded mt-5 text-light shadow" [disabled]="loginForm.invalid">Login</button>
                </form>
                <b>Dont have an account with us? <a routerLink="/signup">Register</a></b>
            </div>
        </div>
    </div>
    <div class="col-6">

    </div>
</div>
<div class="row p-5 justify-content-between">
    <b class="mt-5 h2">
        Your online account gives you access to these features:
    </b>
    <div class="col-3 card shadow p-3">
        <img class="card-img-top img-fluid mb-3" style="width: 100%;height: auto;" src="../../assets/money.jpg" alt="Card image cap">
        <b>Find Care and Costs</b>
        <p>
            Search for in-network providers, procedures, cost estimates, and more.</p>
    </div>

    <div class="col-3 card shadown p-3">
        <img class="card-img-top img-fluid mb-3" style="width: 100%;height: auto;" src="../../assets/claim.jpg" alt="Card image cap">
        <b>View Claims</b>
        <p>See a list of your most recent claims, their status, and reimbursements.</p>
    </div>

    <div class="col-3 card shadow p-3">
        <img class="card-img-top img-fluid mb-3" style="width: 100%;height: auto;" src="../../assets/manage.jpg" alt="Card image cap">
        <b>Manage Spending Accounts</b>
        <p>Review your spending account balances, contributions, and withdrawals, all in one place.</p>
    </div>

    
</div>