<div class="row p-5" style="background-image: url('../../assets/login.jpeg');">
    <div class="col-5">
        <div class="card p-5">
            <div class="card-title h4">Login</div>
            <div class="card-body">
                <form class="form">
                    <div class="form-group">
                        <label for="">Email</label>
                        <input class="form-control shadow" type="text">
                    </div>
                    <div class="form-group">
                        <label for="">Password</label>
                        <input class="form-control shadow" type="password">
                    </div>
                    <button class="form-control btn btn-success rounded mt-5 shadow">Login</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-6">

    </div>
</div>
<div class="row p-5 justify-content-center">
    <b class="mt-5 h2">
        Your online account gives you access to these features:
    </b>
    <div class="col-3 card shadow">
        <b>Find Care and Costs</b>
        <p>
            Search for in-network providers, procedures, cost estimates, and more.</p>
    </div>

    <div class="col-3 card shadow">
        View Claims
        See a list of your most recent claims, their status, and reimbursements.
    </div>

    <div class="col-3 card shadow">
        Manage Spending Accounts
        Review your spending account balances, contributions, and withdrawals, all in one place.
    </div>

    <div class="col-3 card shadow">
        Access Your Digital ID Cards
        Get on-the-go access to your digital ID card or proof of coverage wherever you are, from the web or mobile app.
    </div>
</div>