<div class="row bg-dark rounded p-5">
  <b class="text-light">©2022 Slesha. All rights reserved.</b>
  <div class="row">
    <div class="col text-light">
      <ul>
        <li>Privacy</li>
        <li>Security</li>
        <li>Legal</li>
      </ul>
    </div>
    <div class="col text-light">
      <ul>
        <li>Customer Rights</li>
        <li>Accessability</li>
        <li>Report Fraud</li>
      </ul>
    </div>
    <div class="col text-light">
      <ul>
        <li>Sitemap</li>
        <li>pdf</li>
      </ul>
    </div>
  </div>
  <div class="text-light mb-5">
    *Fingerprint access on compatible devices only. The downloading and use of the mySlesha app is subject to the terms
    and conditions of the app and the online store from which it is downloaded. Standard mobile phone carrier and data
    usage charges apply.

    The Apple logo is a trademark of Apple Inc., registered in the U.S. and other countries. App Store is a registered
    service mark of Apple Inc. Google Play is a trademark of Google Inc.

    Selecting these links will take you away from mySlesha.com. Slesha may not control the linked sites’ content or links.
    Details
  </div>

</div>