<div class="row mt-5 p-5">
    <div class="col-3 mt-3" *ngFor="let plan of plans">
        <div class="card p-3 shadow rounded ">
            <img class="card-img-top" [src]="plan.img" alt="Card image cap">
            <div class="card-title p-2 display-2">
                {{plan.planName}}
            </div>
            <div class="card-body p-1">
                <b>Plan Area: </b><p>{{plan.planArea}}</p>
                <b>Average Premium: </b><p>{{plan.averagePremium|currency}}</p>
                <b>Maximum Coverage: </b><p>{{plan.maximumCoverage|currency}}</p>
                <button class="btn btn-success rounded" [routerLink]="'/planDetails/'+plan.planId">See Plans</button>
            </div>
        </div>
    </div>
</div>


    
